@page
@model WorkoutAppWeb.Pages.Workouts.IndexModel
@{
    @if(TempData["success"] != null)
    {
        <h2>@TempData["success"]</h2>
    }

    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="test-primary">Workout List</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-page="create" class="btn btn-primary">
                    <i class="bi bi-plus-square"></i> &nbsp;Add New Workout
                </a>
            </div>
        </div>

        <br /><br />

        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>
                        Workout Name
                    </th>
                    <th>
                        Rep Count
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model.Workouts)
                {
                   <tr>
                      <td width="50%">@obj.name</td>
                      <td width="30%">@obj.repCount</td>
                      <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-page="Edit" asp-route-id="@obj.id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-page="Delete" asp-route-id="@obj.id" class="btn btn-primary mx-2">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        <div/>
                      </td>
                   </tr>   
                }
            </tbody>
        </table>
    </div>
}
